<section id="about" class="about">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-6 pt-4 pt-lg-0 content">
        <div class="skills-content mt-4">
          <img src="/../assets/img/4.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <hr><h2 class="text-center font-weight-bold">Welcome to <strong>{{title | uppercase}}</strong> Hostel</h2><hr>
        <h3 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;font-size:20px;">
          We are located at Hyderabad.Location is near HDFC ATM,Jal Vayu Vihar Addagutta socitey KPHB Hyderabad . Extreme Provides all facilities which student required for study purpose. Extreme Providing WI-FI and Many more Facilities.
          Food Package includes Breakfast, Lunch and Dinner.
        </h3>
        <div class="row">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Super Delux Room</a>
              <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Delux Room</a>
              <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Standard Room</a>
            </div>
          </div>
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">Specious room with Air condition and Fridge facilities.<br> Storage Cupboard and 24x7 internet facility with Wi-Fi.<br> Only for 1 Persons.</div>
              <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Specious room with separate study table for each student.<br> Specious storage cupboard. 24x7 internet facility with Wi-Fi. Specious room with Air condition and Fridge facilities.<br> Only for 2 Persons.</div>
              <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Specious room with separate study table for each student.<br> Specious storage cupboard. 24x7 internet facility with Wi-Fi.<br> For 3 Persons.</div>
            </div>
          </div>
        </div>
        <p class="font-italic">
      </div>
    </div>
  </div>
</section><!-- End About Us Section -->

<div class="container text-center a1">
  <a  routerLink="/hostel-detail" class="btn-get-started animate__animated animate__fadeInUp scrollto text-danger">Get Started</a>
</div>
<div class="com container">
  <section class="mobile-view__Section-sc-d6lb5j-0 lfomAv"><hr width="50%" style="display: block;margin:auto;">
    <h1 class=" fs-heading header_h1 font-weight-bold">The Sanitised and Furnished Room</h1><hr width="50%"style="display: block;margin:auto;"><br>
    <p class="padlr15 mb10 description"style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;font-size:20px;">Your deeply sanitised room will have all the furniture and facilities you need for a comfortable stay. You see, we believe that your chair shouldn’t multitask as a clothes rack. And your bed is not meant to be a study table.</p>
    <div class="view " style="display: block;margin:auto;">
      <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto,h_500,w_630/v1581672162/bed-desktop.png" class="image-2">
    </div>
    
    <div class="mobile-view__Band-sc-d6lb5j-2 jTHrYq"></div>
    <div class="row-cols-1 row-cols-2 row-cols-3">
      <div class="view v">
        <div class="cols a" style="margin-left:20px;">
          <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1582273698/NewWebsite/services/bed-with-mattress.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">Bed with Mattress</span>
        </div>
        <div class="cols b">
          <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1582197397/NewWebsite/services/cupboard.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">Spacious Cupboard</span>
        </div>
        <div class="cols c">
          <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1583257057/NewWebsite/services/storage-space.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">Storage Space with Bed</span>
        </div>
        <div class="cols d">
          <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1582197400/NewWebsite/services/study-table.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">Study Table</span>
        </div>
        <div class="cols e">
          <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1582197398/NewWebsite/services/curtains.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">Bright Curtains</span>
        </div>
      </div>

    </div>
  </section>
</div>
<div class="container com">
  <section ><hr width="50%" style="display: block;margin:auto;">
    <h1 class=" font-weight-bold">The Uninterrupted Care</h1><hr width="50%" style="display: block;margin:auto;"><br>
    <p class="padlr15 mb10 description"style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;font-size:20px;">We know that for you, cooking is a struggle, washing clothes is a battle, and cleaning your room is a full-fledged war. In your second home, we take them off your hands while maintaining the highest standards of hygiene.</p>
    <br><br>
     <div class="row row-cols-1 row-cols-2 row-cols-3">
      <div class="view v">
        <div class="cols a">
          <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1588757309/NewWebsite/contactless_food.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">No-Touch Dining Facility</span>
        </div>
        <div class="cols b">
          <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1582273700/NewWebsite/services/housekeeping.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">Professional housekeeping</span>
          </div>
          <div class="cols c">
            <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1582197397/NewWebsite/services/booster-packs.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">Booster Packs</span>
          </div>
          <div class="cols d">
            <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1589121124/NewWebsite/ICONS_ROOM_FEATURES-02_2x.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">Contactless Security</span>
          </div>
          <div class="cols e">
            <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1582197399/NewWebsite/services/laundry.png"  class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">Laundry</span>
          </div>
        </div>
     </div>
      </section>
</div>

<!--new-->
<div class="container">
  <section><hr width="50%" style="display: block;margin:auto;">
    <h1 class=" font-weight-bold text-center">The Common Area With a Distance</h1><hr width="50%" style="display: block;margin:auto;"><br>
    <p class="padlr15 mb10 description"style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;font-size:20px;">From musical nights to sweating it out at the fitness zone, the fun should never stop. While we are strictly following social-distancing practice in our residences, our community programmes continue to bring residents closer.</p>
    <br><br>
    <div class="row row-cols-1 row-cols-2 row-cols-3">
      <div class="view v">
        <div class="cols a">
          <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1588757219/NewWebsite/common_area_dispersal.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">Common Area Dispersals</span>
        </div>
        <div class="cols b">
          <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1582197398/NewWebsite/services/gaming-corner.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">Online games &amp; events</span>
        </div>
        <div class="cols c">
          <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1582521755/NewWebsite/services/Television.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">Flat Screen Television**</span>
        </div>
        <div class="cols d">
          <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1582197398/NewWebsite/services/fitness-zone.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">Fitness Zone**</span>
        </div>
        <div class="cols e">
          <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1582521233/NewWebsite/services/microwave.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">Common Appliances</span>
        </div>
      </div>
    </div>
   
  </section>
</div>


<main id="main">

  <!-- ======= About Us Section ======= -->
  
 <!--New-->
 
  <div class="container container1">
    <section class="mobile-view__Section-sc-d6lb5j-0 lfomAv"><hr width="50%">
      <h1 class="padlr15 mb10 fs-heading header_h1 font-weight-bold">The COVID-19 Proof Residences</h1><hr width="50%">
      <p class="padlr15 mb10 description"style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;font-size:20px;">We’re determined to win this fight against COVID-19. That’s why, with a comprehensive list of preventive measures, we’re keeping our residences safe from COVID-19. And will continue to be so even in the post lockdown world.</p>
      <!--<div class=" view1 mobile-view__ImageContainer-sc-d6lb5j-1 hLgGo">
        <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto,h_683,w_456/v1588754327/NewWebsite/Sanitisation_1709869285_2x.png" class="image-1">
      </div>-->
      <div class="mobile-view__Band-sc-d6lb5j-2 jTHrYq"></div><br>
      <div class="row row-cols-1 row-cols-2 row-cols-3">
        <div class="view v">
          <div class="a col">
            <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1588756570/NewWebsite/SANITISATION.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">Residences Sanitisation</span>
          </div><br><br>
          <div class="b col">
            <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1588755892/NewWebsite/THERMAL_MONITORING.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">Thermal Monitoring</span>
          </div><br>
          <div class="c col">
            <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1588755867/NewWebsite/TRAVEL_HISTORY.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">Medical &amp; Travel History</span>
          </div>
          <div class="d col">
            <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1588755805/NewWebsite/QRT.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">24x7 Quick Response Teams</span>
          </div>
          <div class=" e col">
            <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1588756529/NewWebsite/PROTECTIVE_GEAR.png" class="mobile-view__IconImage-sc-d6lb5j-5 jyqsSA"><span class="mobile-view__IconLabel-sc-d6lb5j-6 kahWcS">Mandatory PPE for Staff</span>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- ======= Counts Section ======= -->
  <section class="counts section-bg">
    <div class="container">

      <div class="row no-gutters justify-content-center">

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="icofont-boy"></i>
            <span data-toggle="counter-up">76</span>
            <p><strong>Total Rooms for Boys</strong></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="icofont-girl"></i>
            <span data-toggle="counter-up">80</span>
            <p><strong>Total Rooms for Girls</strong></p>
          </div>
        </div>

        <!-- <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="icofont-live-support"></i>
            <span data-toggle="counter-up">1,463</span>
            <p><strong>Hours Of Support</strong></p>
          </div>
        </div> -->

        <!--<div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="icofont-users-alt-5"></i>
            <span data-toggle="counter-up">21</span>
            <p><strong>Hard Workers</strong></p>
          </div>
        </div>-->

      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Our Team Section ======= -->
  <!--<section id="team" class="team">
    <div class="container">

      <div class="section-title">
        <h2>Our Team</h2>
      </div>

      <div class="row" style="padding-left: 228px;">

        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
          <div class="member">
            <img src="/../assets/ForDashboard/img/team/team-1.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Darshan Parmar</h4>
              </div>
              <div class="social">
                <a href="https://twitter.com/darshankparmar" target="_blank"><i class="icofont-twitter"></i></a>
                <a href="https://github.com/darshankparmar" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/darshankparmar/" target="_blank"><i class="icofont-linkedin" target="_blank"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
          <div class="member">
            <img src="/../assets/ForDashboard/img/team/team-3.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Harsh Patel</h4>
              </div>
              <div class="social">
                <a href=""><i class="icofont-twitter" target="_blank"></i></a>
                <a href="https://github.com/7Har" target="_blank"><i class="fab fa-github"></i></a>
                <a href=""><i class="icofont-linkedin" target="_blank"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
          <div class="member">
            <img src="/../assets/ForDashboard/img/team/team-6.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Jayesh Hadiya</h4>
              </div>
              <div class="social">
                <a href=""><i class="icofont-twitter" target="_blank"></i></a>
                <a href="https://github.com/jayeshhadiya" target="_blank"><i class="fab fa-github"></i></a>
                <a href=""><i class="icofont-linkedin" target="_blank"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section> End Our Team Section -->

</main>

